@define-color background-color #303446;
@define-color border-color #ca9ee6;
@define-color label #f4b8e4;
@define-color image #f4b8e4;
@define-color progress #a6d189;

/* Cancel out Omarchy settings */
window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 24px;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}


/* Draw a new background */
window:not(:backdrop) #container,
window:backdrop #container {
    border: 6px solid @border-color;
    border-radius: 16px;
    background-color: @background-color;
    padding: 12px;
    background-clip: padding-box;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.8);
}
