@define-color selected-text #8caaee;
@define-color text #b5bfe2;
@define-color base #303446;
@define-color border #8caaee;
@define-color foreground #b5bfe2;
@define-color background #303446;

window {
    background-color: transparent;
    color: @text;
    border: none;
    padding: 0;
    box-shadow: none;
}

/* Walker Window Border */
window .box-wrapper {
    border-radius: 16px;
    border: 6px solid @border;  
    padding: 18px 22px;
    background: @base;
    background-clip: padding-box;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 1);
}


